<a href="https://colab.research.google.com/github/BhavyaaaD/Mal-Detect/blob/main/MalwareAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
df=pd.read_excel('/content/Dataset.xlsx')
df.head()

,transact,onServiceConnected,bindService,attachInterface,ServiceConnection,android.os.Binder,SEND_SMS,Ljava.lang.Class.getCanonicalName,Ljava.lang.Class.getMethods,Ljava.lang.Class.cast,...,READ_CONTACTS,DEVICE_POWER,HARDWARE_TEST,ACCESS_WIFI_STATE,WRITE_EXTERNAL_STORAGE,ACCESS_FINE_LOCATION,SET_WALLPAPER_HINTS,SET_PREFERRED_APPLICATIONS,WRITE_SECURE_SETTINGS,class
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,S
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,S
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,S
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,1,1,0,0,0,S
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,S

In [ ]:
df['class']=df['class'].replace({'S':1,'B':0})
df['class']

0        1
1        1
2        1
3        1
4        1
        ..
15031    0
15032    0
15033    0
15034    0
15035    0
Name: class, Length: 15036, dtype: int64

In [ ]:
x=list(df['TelephonyManager.getSimCountryIso'])
for i in range(len(x)):
  if x[i]=='?':
    x[i]=0

print('?' in x)

False

In [ ]:
df['TelephonyManager.getSimCountryIso']=pd.Series(x)
df['TelephonyManager.getSimCountryIso']

0        0
1        0
2        0
3        0
4        0
        ..
15031    1
15032    0
15033    0
15034    0
15035    1
Name: TelephonyManager.getSimCountryIso, Length: 15036, dtype: int64

In [ ]:
df['TelephonyManager.getSimCountryIso'].astype(int)

0        0
1        0
2        0
3        0
4        0
        ..
15031    1
15032    0
15033    0
15034    0
15035    1
Name: TelephonyManager.getSimCountryIso, Length: 15036, dtype: int64

In [ ]:
from pandas.core.indexes.base import default_index
df_y=df['class']
df_x=df.iloc[:,0:215]
df_x.head()

,transact,onServiceConnected,bindService,attachInterface,ServiceConnection,android.os.Binder,SEND_SMS,Ljava.lang.Class.getCanonicalName,Ljava.lang.Class.getMethods,Ljava.lang.Class.cast,...,SET_ORIENTATION,READ_CONTACTS,DEVICE_POWER,HARDWARE_TEST,ACCESS_WIFI_STATE,WRITE_EXTERNAL_STORAGE,ACCESS_FINE_LOCATION,SET_WALLPAPER_HINTS,SET_PREFERRED_APPLICATIONS,WRITE_SECURE_SETTINGS
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,1,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [ ]:

x=df_x.values
y=df_y.values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [ ]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(11277, 215)
(11277,)
(3759, 215)
(3759,)

In [ ]:
x_train.shape

(11277, 215)

In [ ]:
y_train=np.array(pd.get_dummies(y_train))
y_test=np.array(pd.get_dummies(y_test))

In [ ]:
y_train.shape

(11277, 2)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model=Sequential([
    Dense(256,activation='sigmoid',input_shape=(215,)),
    Dense(128,activation='sigmoid'),
    Dense(64,activation='sigmoid'),
    Dense(32,activation='sigmoid'),
    Dense(2,activation='softmax')
])

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               55296

 dense_1 (Dense)             (None, 128)               32896

 dense_2 (Dense)             (None, 64)                8256

 dense_3 (Dense)             (None, 32)                2080

 dense_4 (Dense)             (None, 2)                 66

=================================================================
Total params: 98,594
Trainable params: 98,594
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam',loss=tf.keras.losses.categorical_crossentropy,metrics=['accuracy'])

In [ ]:
model.fit(x_train,y_train,epochs=10)

Epoch 1/10
353/353 [==============================] - 1s 3ms/step - loss: 0.2319 - accuracy: 0.9014
Epoch 2/10
353/353 [==============================] - 1s 3ms/step - loss: 0.0838 - accuracy: 0.9735
Epoch 3/10
353/353 [==============================] - 1s 3ms/step - loss: 0.0673 - accuracy: 0.9769
Epoch 4/10
353/353 [==============================] - 1s 3ms/step - loss: 0.0634 - accuracy: 0.9793
Epoch 5/10
353/353 [==============================] - 1s 3ms/step - loss: 0.0620 - accuracy: 0.9792
Epoch 6/10
353/353 [==============================] - 1s 3ms/step - loss: 0.0610 - accuracy: 0.9799
Epoch 7/10
353/353 [==============================] - 1s 3ms/step - loss: 0.0574 - accuracy: 0.9816
Epoch 8/10
353/353 [==============================] - 1s 3ms/step - loss: 0.0556 - accuracy: 0.9816
Epoch 9/10
353/353 [==============================] - 1s 3ms/step - loss: 0.0546 - accuracy: 0.9833
Epoch 10/10
353/353 [==============================] - 1s 3ms/step - loss: 0.0536 - accuracy: 0.9836

In [ ]:
model.evaluate(x_test,y_test)

118/118 [==============================] - 0s 2ms/step - loss: 0.0831 - accuracy: 0.9753

[0.08308101445436478, 0.9752593636512756]

In [ ]:
df=pd.read_csv('/content/feature_vectors_syscalls_frequency_5_Cat.csv')
df.head()

,__arm_nr_cacheflush,__arm_nr_set_tls,_llseek,_newselect,accept,access,bind,brk,capset,chdir,...,ugetrlimit,umask,uname,unlink,utimes,vfork,wait4,write,writev,Class
0,0.0,14.0,6.0,0.0,0.0,11.0,3.0,21.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,37.0,10.0,1.0
1,1590.0,42.0,6.0,0.0,0.0,47.0,2.0,1430.0,1.0,0.0,...,2.0,0.0,1.0,4.0,0.0,0.0,0.0,2840.0,46.0,1.0
2,0.0,23.0,6.0,0.0,0.0,40.0,9.0,89.0,1.0,0.0,...,0.0,0.0,1.0,2.0,0.0,0.0,0.0,111.0,20.0,1.0
3,0.0,27.0,6.0,0.0,0.0,60.0,1.0,242.0,1.0,0.0,...,0.0,0.0,1.0,2.0,0.0,0.0,0.0,987.0,197.0,1.0
4,0.0,18.0,6.0,0.0,0.0,26.0,5.0,59.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,98.0,25.0,1.0

In [ ]:
cols=df.select_dtypes(include='float').columns

In [ ]:
for i in cols:
  df[i]=df[i].astype(int)

In [ ]:
df_x=df.iloc[:,0:139]
df_x.head()

,__arm_nr_cacheflush,__arm_nr_set_tls,_llseek,_newselect,accept,access,bind,brk,capset,chdir,...,truncate,ugetrlimit,umask,uname,unlink,utimes,vfork,wait4,write,writev
0,0,14,6,0,0,11,3,21,1,0,...,0,0,0,1,0,0,0,0,37,10
1,1590,42,6,0,0,47,2,1430,1,0,...,0,2,0,1,4,0,0,0,2840,46
2,0,23,6,0,0,40,9,89,1,0,...,0,0,0,1,2,0,0,0,111,20
3,0,27,6,0,0,60,1,242,1,0,...,0,0,0,1,2,0,0,0,987,197
4,0,18,6,0,0,26,5,59,1,0,...,0,0,0,1,0,0,0,0,98,25

In [ ]:
df_y=df['Class']
df_y=df_y.replace({5:0,4:1,3:1,2:1})

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(df_x,df_y)

In [ ]:
X_train.shape

(8698, 139)

In [ ]:
X_test.shape

(2900, 139)

In [ ]:
x_train=X_train.values
y_train=Y_train.values
x_test=X_test.values
y_test=Y_test.values

In [ ]:
x_train=x_train[...,tf.newaxis].astype('float32')
x_test=x_test[...,tf.newaxis].astype('float32')

In [ ]:
x_train.shape

(8698, 139, 1)

In [ ]:
y_test.shape

(2900,)

In [ ]:
y_train=np.array(pd.get_dummies(y_train))
y_test=np.array(pd.get_dummies(y_test))

In [ ]:
y_test

array([[0, 1],
       [0, 1],
       [0, 1],
       ...,
       [0, 1],
       [0, 1],
       [0, 1]], dtype=uint8)

In [ ]:
from tensorflow.keras.layers import Dense,Flatten,Bidirectional,GRU,LSTM
from tensorflow.keras.models import Sequential

In [ ]:
model2=Sequential([
    LSTM(128,input_shape=(139,1)),

    Dense(64,activation='sigmoid'),
    Dense(32,activation='sigmoid'),

    Dense(2,activation='softmax')

])

In [ ]:
model2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 128)               66560

 dense_5 (Dense)             (None, 64)                8256

 dense_6 (Dense)             (None, 32)                2080

 dense_7 (Dense)             (None, 2)                 66

=================================================================
Total params: 76,962
Trainable params: 76,962
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model2.compile(optimizer='adam',loss=tf.keras.losses.categorical_crossentropy,metrics=['accuracy'])

In [ ]:
model2.fit(x_train,y_train,epochs=10)

Epoch 1/10
272/272 [==============================] - 36s 131ms/step - loss: 0.2498 - accuracy: 0.9095
Epoch 2/10
272/272 [==============================] - 34s 126ms/step - loss: 0.2159 - accuracy: 0.9270
Epoch 3/10
272/272 [==============================] - 34s 123ms/step - loss: 0.2078 - accuracy: 0.9293
Epoch 4/10
272/272 [==============================] - 34s 123ms/step - loss: 0.2084 - accuracy: 0.9324
Epoch 5/10
272/272 [==============================] - 34s 126ms/step - loss: 0.1929 - accuracy: 0.9334
Epoch 6/10
272/272 [==============================] - 34s 126ms/step - loss: 0.1914 - accuracy: 0.9344
Epoch 7/10
272/272 [==============================] - 34s 125ms/step - loss: 0.2006 - accuracy: 0.9348
Epoch 8/10
272/272 [==============================] - 34s 126ms/step - loss: 0.1858 - accuracy: 0.9378
Epoch 9/10
272/272 [==============================] - 34s 124ms/step - loss: 0.1804 - accuracy: 0.9394
Epoch 10/10
272/272 [==============================] - 34s 124ms/step - loss: 0.1796 - accuracy: 0.9387

In [ ]:
model2.evaluate(x_test,y_test)

91/91 [==============================] - 4s 43ms/step - loss: 0.2171 - accuracy: 0.9317

[0.21713298559188843, 0.9317241311073303]

In [ ]:
models=[model , model2]
def predict(x1,x2,models):
  arr1=model[0].predict(x1)
  arr2=model[1].predict(x2)
  comb=np.mean(arr1,arr2)
  return comb